<a href="https://colab.research.google.com/github/KennethSumandal/PLNG211-2-OLFU-QC/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comment

In [26]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [34]:
#Single Variable
a = float(10)
b = -1

#multiple variables
a,b = float(10),-1
print(a)
print(b)

#string type
c = "Ela"

10.0
-1

In [35]:
print(a)

#string type

c = str("Ela")
c

print(c)
print(c)
print(c)

10.0
Ela
Ela
Ela

In [ ]:
type () function

In [36]:
print(type(c))

<class 'str'>

In [43]:
#Proper Indentation

if 5>2:
 print("5 is greater than 2")

5 is greater than 2

Single and Double Quote

In [44]:
f = "Jane"
g = 'Jane'

print(f)
print(g)

Jane
Jane

Multiple Variables

In [47]:
x,y,z = 1,2,3

print(x)
print(y)
print(z)

1
2
3

Single Values to Multiple Variables

In [48]:
x=y=z = "Python"

print(x)
print(y)
print(z)

Python
Python
Python

Output Variables

In [50]:
x = "enjoying"
y = "Python programming is"

print (y +" "+x)

Python programming is enjoying

Arithmetic Operators

In [51]:
c = 5
c+= 3 #c =c+3, c = 5+3
print(c)

8

Comparison Operators

In [53]:
i = 5>2
h = 3>5
print(i)
print(h)
not(i or h)

True
False

False

Identity Operators

In [54]:
i is not h

True

Bitwise Operators

In [59]:
v = 10
v<<2

y= 2
y>>1

1